<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="../static/plugin/wechat-jssdk/weixin-1.0.0.js"></script>
    <script src="../static/plugin/jquery/jquery.min.js"></script>
    <title>test</title>
</head>
<body>
<p>hello,{{ user }}</p>
<p>timestamp {{ timestamp }}</p>
<p>noncestr {{ noncestr }}</p>
<p>signature:{{ signature }}</p>
<p>{{ name }}</p>
<p>ticket:{{ ticket }}</p>
<p id="href-p"></p>
</body>
<script>
    $(function () {
        alert("hello");
    })
</script>
</html>