<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>{{ name }}的主页面</title>

    <!--CSS-->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "tree/css/home.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "plugin/weui/weui.min.css" %}">
    <link href="//cdn.bootcss.com/pure/0.6.0/pure-min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

    <!--js-->
    <script src="{% static "plugin/jquery/jquery.min.js" %}"></script>
    <script src="{% static "plugin/jquery/jquery.color.js" %}"></script>
    <script src="{% static "plugin/jquery/jquery.mobile-events.min.js" %}"></script>
    <script src="{% static "plugin/wechat-jssdk/weixin-1.0.0.js" %}"></script>
    <script src="{% static "tree/js/jquery.lqc.extension.js" %}"></script>
    <script src="{% static "tree/js/django_csrf.js" %}"></script>
    <script src="{% static "plugin/move/move.js" %}"></script>
{#    {% if first_time %}#}
{#        <script src="{% static "tree/js/home_first.js" %}"></script>#}
{#    {% else %}#}
{#        <script src="{% static "tree/js/home.js" %}"></script>#}
{#    {% endif %}#}

</head>
<body class="my-body">
<!--顶部-->
<div class="menu-top">
    <div class="menu-top-con">
        <!--头像-->
        <div class="self-avatar">
            <a><img class="avatar" src="{{ avatar_addr }}" style="width: inherit"></a>
        </div>
        <!--积分条-->
        <div class="count-progress">
            <div class="progress">
                <span class="progress-bar"><span class="progress-in" id="count-progress-in" style="width: 100%"></span></span>
            </div>
            <div class="count-num" id="count-num"><p>积分：{{ count }}</p></div>
        </div>
        <!--排行-->
        <div class="rank" id="rank">
            <a><img class="rank-btn" id="rank-btn" src="{% static "tree/image/btn/rank.png" %}" style="width: inherit"></a>
        </div>
        <!--提醒-->
        <div class="tips" id="tips">
            <a><img class="tips-btn" src="{% static "tree/image/btn/tips.png" %}" style="width: inherit"></a>
        </div>
    </div>
</div>

<!--内容-->
<div class="main-container">
    <div class="main-tree pure-u-19-24" style="float: left;">
        <div class="tree-area">
            <img src="{% static "tree/image/others/tree.png" %}">
            <div class="bless1" style="background-color: red;z-index:13;height: 4%;width: 6%;position: absolute;left: 53%;top: 18%;border-radius: 50%"></div>
            <div class="bless1" id="bless3" style="background-color: red;z-index:13;height: 4%;width: 6%;position: absolute;left: 43%;top: 24%;border-radius: 50%"></div>
            <div class="bless2" style="background-color: white;height: 4%;width: 6%;position: absolute;left: 64%;top: 24%;border-radius: 50%"></div>

            <div class="bless2" style="background-color: white;height: 4%;width: 6%;position: absolute;left: 53%;top: 32%;border-radius: 50%"></div>
            <div class="bless1" style="background-color: red;height: 4%;width: 6%;position: absolute;left: 41%;top: 38%;border-radius: 50%"></div>
            <div class="bless2" style="background-color: white;height: 4%;width: 6%;position: absolute;left: 67%;top: 38%;border-radius: 50%"></div>

            <div class="bless2" style="background-color: white;height: 4%;width: 6%;position: absolute;left: 46%;top: 50%;border-radius: 50%"></div>
            <div class="bless1" style="background-color: red;height: 4%;width: 6%;position: absolute;left: 60%;top: 46%;border-radius: 50%"></div>
            <div class="bless1" style="background-color: red;height: 4%;width: 6%;position: absolute;left: 36%;top: 56%;border-radius: 50%"></div>
            <div class="bless2" style="background-color: white;height: 4%;width: 6%;position: absolute;left: 70%;top: 52%;border-radius: 50%"></div>

            <div class="bless2" style="background-color: white;height: 4%;width: 6%;position: absolute;left: 54%;top: 65%;border-radius: 50%"></div>
            <div class="bless1" style="background-color: red;height: 4%;width: 6%;position: absolute;left: 26%;top: 70%;border-radius: 50%"></div>
            <div class="bless1" style="background-color: red;height: 4%;width: 6%;position: absolute;left: 40%;top: 71%;border-radius: 50%"></div>
            <div class="bless1" style="background-color: red;height: 4%;width: 6%;position: absolute;left: 66%;top: 70%;border-radius: 50%"></div>
            <div class="bless2" style="background-color: white;height: 4%;width: 6%;position: absolute;left: 78%;top: 72%;border-radius: 50%"></div>
        </div>
        <div class="tree-name">
            <img src="{% static "tree/image/others/name.png" %}">
            <p class="name" id="whos_tree" style="margin-top: 19%;margin-left: 23%;font-size: 50%">{{ tree_name }}</p>
        </div>
    </div>
    <div class="main-right pure-u-5-24" style="float:left">
        <ul class="right-btn" style="list-style-type: none">
            <!--朋友-->
            <li><img class="friends" id="friends" src="{% static "tree/image/btn/friends.png" %}" style="width: 74%"></li>
            <!--浇水-->
            <li><img class="water-flower" id="water-flower" src="{% static "tree/image/btn/water.png" %}" style="width: 74%"></li>
            <!--历史-->
            <li><img class="history" id="history" src="{% static "tree/image/btn/history.png" %}" style="width: 74%"></li>
            <!--心愿-->
            <li><img class="willing" id="willing" src="{% static "tree/image/btn/willing.png" %}" style="width: 74%"></li>
        </ul>
    </div>
</div>

<!--脚本-->
<div class="footer"></div>

{#保存一些需要js用的东西#}
<div class="user_message" id="user_message" style="display: none;">
    <p id="user_message_openid">{{ user_openid }}</p>
    <p id="user_message_nickname">{{ name }}</p>
{#    传原始的时间#}
    <p id="user_message_water_time">{{ water_time }}</p>
</div>

<!--mask-->
<div class="overlay" id="black-mask" style="display: none;position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);"></div>

<!--消息-->
<div class="message-widget" id="message-widget" style="display: none;">
    <div class="message-top">
        <img src="{% static "tree/image/btn/tips.png" %}">
        <p style="font-size: 80%">消息</p>
    </div>
    <hr style="background-color: rgba(0,0,0,0.6)">
    <div class="message-content">
        <ul class="message-list" id="message-list">
            <li id="message-list-na">
                <div style="float:left;">
                    <p style="font-size: 100%;color: rgba(0,0,0,0.8)">暂时没有您的消息，赶紧和小伙伴互动起来吧～</p>
                </div>
            </li>
            <li id="message-list-li" style="display: none;">
                <div class="pure-u-5-24" style="float:left;">
                    <img id="message-avatar" src="{% static "tree/image/btn/tips.png" %}" style="height: 70%;padding-left: 5%;border-radius: 50%">
                    <p id="message-name" style="font-size: 50%;color: rgba(0,0,0,0.8)">名字</p>
                </div>
                <div class="pure-u-19-24" style="float:left;">
                    <p id="message-con" style="padding-top:3%; font-size: 90%">消息内容</p>
                    <p id="message-time" style="font-size: 70%; color: grey">时间</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--心愿-->
<div class="willing-widget" id="willing-widget" style="display: none">
    <div class="willing-top">
        <img src="{% static "tree/image/btn/willing.png" %}">
        <p style="font-size: 80%">心愿</p>
    </div>
    <hr style="background-color: rgba(0,0,0,0.6)">
    <div class="willing-content">
        <ul class="willing-list" id="willing-list">
            <li id="willing-list-na" style="display: none;text-align: center">
                <p style="text-align: center;font-size: 100%;">您还没有填写新年愿望，第一次填写可以获得积分哦～</p>
            </li>
            <li id="willing-list-li" style="display: none;">
                <a id="will-time" style="float: left;width: 20%;font-size: 80%; text-align: left;font-size: 60%">时间</a>
                <a id="will-con" style="float:left;margin-left: 20%;text-align: left">内容</a>
            </li>
        </ul>
    </div>
    <button class="willing-add" id="willing-add">+</button>
</div>
<!--填写心愿-->
<div class="fill-willing" id="fill-willing" style="display: none;">
    <form class="fill-form">
        <textarea id="fill-area" placeholder="大声说出愿望，没准实现了呢"></textarea>
        <p class="fill-willing-btn" id="fill-willing-btn">确定</p>
    </form>
</div>
<!--祝福吐槽历史-->
<div class="history-widget" id="history-widget" style="display: none">
    <div class="history-top">
        <a class="history-bless" id="history-bless">祝福</a>
        <a class="history-tucao" id="history-tucao">吐槽</a>
    </div>
    <hr style="background-color: rgba(0,0,0,0.6)">
    <div class="history-content">
        <ul class="history-list" id="history-bless-list">
            <li id="history-bless-list-na">
               <p>没有收到小伙伴的祝福哦，赶紧分享互动起来吧～</p>
            </li>
            <li id="history-bless-list-li" style="display: none;overflow: auto;">
                <div style="float:left;"class="pure-u-5-24">
                    <img id="history-bless-avatar" src="{% static "tree/image/btn/friends.png" %}" style="height: 75%;padding-left: 5%;border-radius: 50%">
                    <p id="history-bless-name" style="font-size: 40%;color:grey;;">名字</p>
                </div>
                <div style="float: left" class="pure-u-15-24">
                    <a id="history-bless-con" style="font-size: 100%;">吐槽内容</a>
                </div>
                <div style="float: left" class="pure-u-4-24">
                    <a id="history-bless-time" style="float: right;font-size: 60%;color: grey">什么时间前</a>
                </div>
            </li>

        </ul>
        <ul class="history-list" id="history-tucao-list" style="display: none;overflow: auto">
            <li id="history-tucao-list-na">
               <p>没有收到小伙伴的吐槽哦，小编都妒忌了～</p>
            </li>
            <li id="history-tucao-list-li" style="display: none;overflow: auto">
                <div style="float:left;"class="pure-u-5-24">
                    <img id="history-tucao-avatar" src="{% static "tree/image/btn/friends.png" %}" style="height: 75%;padding-left: 5%;border-radius: 50%">
                    <p id="history-tucao-name" style="font-size: 40%;color:grey;;">名字</p>
                </div>
                <div style="float: left" class="pure-u-15-24">
                    <a id="history-tucao-con" style="font-size: 100%;">内容</a>
                </div>
                <div style="float: left" class="pure-u-4-24">
                    <a id="history-tucao-time" style="float: right;font-size: 60%;color: grey">几天前</a>
                </div>
            </li>

        </ul>
    </div>
</div>
<!--排行榜-->
<div class="rank-widget" id="rank-widget" style="display: none;">
    <div class="rank-top">
        <img src="{% static "tree/image/btn/rank.png" %}">
        <p style="font-size: 80%">排行榜</p>
    </div>
    <hr style="background-color: rgba(0,0,0,0.6)">
    <div class="rank-content">
        <ul class="rank-list" id="rank-list">
            <li id="rank-list-li" style="display: none">
                <div class="pure-u-5-24" style="float: left">
                    <img class="rank-avatar" id="rank-avatar" src="{% static 'tree/image/btn/friends.png' %}" style="height: 90%;padding-left: 5%; border-radius: 50%">
                    <p id="rank-name" style="font-size: 50%">不想上学</p>
                </div>
                <div class="pure-u-15-24" style="float:left;text-align: center">
                    <p id="rank-rank" style="height: 45%;width: 14%;margin-left: 43%;border-radius: 50%;background-color: red;padding-bottom: 1%">1</p>
                    <div class="rank-progress-con" style="height: 20%;margin-top: 2%">
                        <div class="rank-progress">
                            <span class="progress-bar"><span class="progress-in" id="rank-progress-in" style="width: 85%"></span></span>
                        </div>
                        <div id="rank-count" class="rank-count-num" style="margin-top: 1%"><p>积分：255000</p></div>
                    </div>
                </div>
                <div style="float: left" class="pure-u-4-24">
                    <a class="rank-visit" id="rank-home" href="#">参观</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--加好友-->
<div class="add-friend-widget" id="add-friend-widget" style="padding-top: 5%;display: none;">
    <p>点击右上方按钮，分享给朋友，可以添加好友以及得积分哦</p>
    <button id="add-friend-widget-btn"> 我知道啦～ </button>
</div>
<!--浇水-->
<div class="water-widget" id="water-widget" style="display: none;width: 30%;position: fixed;
    z-index: 13;
    width: 25%;
    left: 50%;
    height: auto;
    top: 50%;">
    <img src="{% static "tree/image/others/water-tree.png" %}" style="width: 100%;height: auto">
</div>
<!--积分到达上限-->
<div class="count-enough" id="count-enough" style="padding-top: 5%;display: none;">
    <p>积分到达300000啦，会有什么惊喜呢，赶快看一下吧～</p>
    <button class="count-enough-btn">点我有惊喜</button>
</div>
<!--恭喜新年快乐-->
<div class="happy-newyear" style="display: none">
    <img src="{% static "tree/image/others/monkey.png" %}">
    <p style="font-size: 160%;margin-top: 0%;color: red">给大家拜年啦</p>
    <p style="margin-top: 5%">赶快分享到朋友圈炫耀一下吧～</p>
</div>
<!--分享到朋友圈是什么内容呢-->

<!--平常的浇水提示，class花就不管了，反正跟加好友一样-->
<div class="add-friend-widget" id="time-to-water" style="display: none;">
    <p>点击&nbsp&nbsp树儿渴的花儿都谢啦，虽然我没有花～～</p>
    <button id="time-water-btn">我知道啦～</button>
</div>
<!--祝福/吐槽果实弹出框-->
<div class="fruit-widget" id="fruit-widget" style="display: none;">
    <div class="fruit-content">
        <div class="pure-u-7-24" style="float: left;text-align: center">
            <img id="fruit-img" src="{% static "tree/image/btn/tips.png" %}" style="height: 60%;margin-top: 5%">
            <p id="fruit-name" style="font-size: 70%;color: grey;">耶耶耶不想上学</p>
        </div>
        <div class="pure-u-17-24" style="float: left;">
            <p id="fruit-con" style="font-size: 90%;margin-top: 6%">耶耶耶不想上学给你浇了一次水</p>
        </div>
    </div>
</div>

{% if first_time %}
<!--begin 小部件-->

<!--规则-->
<div class="rule" id="rule" style="display:none">
    <div class="rule-title"><p>游戏规则</p></div>
    <div class="rule-list" style="overflow: scroll">
        <ul>
            <li><p style="width:15%">点击</p><img style="width: 15%" src="{% static "tree/image/btn/water.png" %}" ><p class="p-float" style="width:66% ;">浇水一次得1000积分</p></li>
            <li><p style="width:15%">点击</p><img style="width: 15%" src="{% static "tree/image/btn/willing.png" %}"><p class="p-float" style="width:66%">添加新年愿望得20000积分</p></li>
            <li><p style="width:15%">点击</p><img style="width:15%" src="{% static "tree/image/btn/friends.png" %}"><p class="p-float" style="width:66%;font-size: 60%">并分享到朋友圈得5000积分，成功添加一位好友得3000积分</p></li>
            <li><p style="width:15%">点击</p><img style="width:15%" src="{% static "tree/image/btn/rank.png" %}"><p class="p-float" style="width:66%;font-size: 60%">访问好友并互动(祝福或吐槽)得5000积分</p></li>
        </ul>
    </div>
    <div class="rule-end"><p>当积分达到300000有特别的惊喜等你哦</p></div>
    <div class="rule-btn">
        <p class="rule-next" id="rule-next">下一步</p>
    </div>
</div>
<!--取名字-->
<div class="tips-quming" id="tips-quming" style="display: none">
    <p style="margin-top: 4%">小树苗出生了，快给它取个名字吧！</p>
    <button class="quming-btn" id="quming-btn">下一步</button>
</div>
<!--填写名字-->
<div class="fill-in-name" id="fill-in-name" style="display: none">
    <form class="fill-form">
        <input id="text_id" type="text" name="tree-name" placeholder="输入祝福树名字">
        <p class="fill-btn" id="fill-btn">确定</p>
    </form>
</div>
<!--浇水提醒-->
<div class="water-tips" id="tips-water" style="display: none;">
    <p>点击<img src="../static/tree/image/btn/water.png">&nbsp&nbsp给小树苗浇水，可以帮助它长成大树哦</p>
    <button class="water-tips-btn" id="water-tips-btn">去浇水<img src="{% static "tree/image/btn/goto.png" %}"></button>
</div>
<!--浇水成功-->
<div class="water-success" id="water-success" style="display: none;">
    <p>浇水成功，积分达到1000，小树苗变成大树啦！每隔10分钟可以浇一次水哦</p>
    <button>我知道啦</button>
</div>

{% endif %}


</body>
<script>
    $(function () {
        //进度条宽度百分比设置
        $("#count-progress-in").css("width", "{{ count_bar }}%");
        water_time = 0
        //微信分享接口设置
        wx.config({
              debug: false,
              appId: '{{ app_id }}',
              timestamp: {{ timestamp }},
              nonceStr: '{{ noncestr }}',
              signature: '{{ signature }}',
              jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
              ]
        });
        wx.ready(function () {
            // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
                wx.checkJsApi({
                    jsApiList: [
                        'getNetworkType',
                        'previewImage'
                    ]
                });

                wx.onMenuShareAppMessage({
                    title: '帅的人都点进去了哦',
                    desc: '新年什么有趣？抢红包？不不不！！老司机带你寻找新鲜刺激的游戏，快和大家一起玩吧～',
                    link: '{{ add_friend_url|safe }}',
                    imgUrl: '{{ imgUrl|safe }}' ,
                    success: function (res) {
                        alert('分享成功，成功添加好友后积分给您奉上哦～');
                      },
                      cancel: function (res) {
                        alert('分享一次，据说会有桃花运哦～');
                      },
                      fail: function (res) {
                        alert('系统出错，程序猿正手不停蹄的赶来维修～');
                      }
                })
                wx.onMenuShareTimeline({
                      title: '快快点进去祝(吐)福(槽)我吧',
                      link: '{{ share_url|safe }}',
                      imgUrl: '{{ imgUrl|safe }}' ,
                      success: function (res) {
                          $.ajax({
                                url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
                                type: 'POST',
                                timeout: 1000,
                                dataType: 'text',
                                encoding: 'utf-8',
                                data: {
                                    'ajax_type': '11',
                                    'openid': $("#user_message_openid").text()
                                },
                                error: function () {
                                    alert('保存失败，亲再试一下哦～')
                                },  //错误执行方法
                                success: function (ret) {
                                    if(ret=='0'){
                                          alert('分享成功,一(没有个)大波小伙伴正赶来围观～');
                                          // 积分与进度条变化
                                          var val = parseInt($("#count-num").text().substr(3))
                                          $("#count-num").text('积分:'+(val+5000).toString())
                                          var css_width = parseInt($("#progress-bar").css("width"));
                                          $("#progress-in").css("width", (parseInt($("#progress-in").css("width"))+css_width*0.016).toString())
                                          alert('保存成功～多互动可以让小树快快长大哦')
                                    }
                                } //成功执行方法
                          })


                      },
                      cancel: function (res) {
                        alert('分享一次，据说会有桃花运哦～');
                      },
                      fail: function (res) {
                        alert('系统出错，程序猿正手不停蹄的赶来维修～');
                      }
                })
        });


        ///////////////////////////这里是js文件，查找错误原因
        /********************
     * 初始化
     * */
    // 一些局部变量
    var myDate = new Date()
    var blesspull = 5;
    var tucaopull = 5;
    var rankpull = 5;
    var msgpull = 5;
    init_main(myDate);

    /********************
     * 引导按钮绑定事件
     * */
    //看完规则后按钮
    $('#rule-next').on('tap', function () {
        $('#rule').hide();
        $('#tips-quming').show();
    })
{#    alert("js加载成功")#}
    //提醒取名字
    $('#quming-btn').on('tap', function () {
        $('#tips-quming').hide();
        $("#fill-in-name").show();
    })

    //填写完树名字之后ajax提交到服务器的按钮
    $('#fill-btn').on('tap', function () {
        var tree_name = $("#text_id").val();  //获取树的名字
        $("#whos_tree").html(tree_name);
        $("#count-progress-in").css("width", "{{ count }}%");
        $.ajax({
            url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
            type: 'POST',
            timeout: 1000,
            dataType: 'text',
            async: false,
            encoding: 'utf-8',
            data: {
                'ajax_type': '1',
                'openid': $("#user_message_openid").text(),
                'nickname': $("#user_message_nickname").text(),
                'tree_name': tree_name
            },
            beforeSend: function () {
                alert('请求数据中...')
            }, //加载执行方法
            error: function () {
                alert('保存失败，亲再试一下哦～')
            },  //错误执行方法
            success: function () {
                alert('保存成功～多互动可以让小树快快长大哦')
                $("#fill-in-name").hide();
                $("#black-mask").hide(500);
            } //成功执行方法
        })
    })

    $("#water-tips-btn").on('tap', function () {
        $("#tips-water").hide();
    })

        /********************
     * 页面按钮绑定事件
     * */

    // 提醒
    $("#tips").on('tap', function () {
        if($("#message-list li:last").css('display') == 'none'){
            $.ajax({
                url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
                type: 'POST',
                timeout: 1000,
                dataType: 'json',
                async: false,
                encoding:'utf-8',
                data:{
                    'ajax_type' : '3',
                    'openid' : $("#user_message_openid").text(),
                    'load_begin' : '0'
                },
                beforeSend: function () {
                }, //加载执行方法
                error: function () {
                    alert('服务不稳定，请亲再试一次～')
                },  //错误执行方法
                success: function (ret) {
                    //消息内容控制
                    if(ret=='1'){
                        $("#message-list-na").show();
                    }else{
                        $("#message-list-na").hide();
                        $.each(ret, function (i, items) {
                            $("#message-name").text(items.msg_nick)
                            if(items.msg_avatar != 'none') {
                                $("#message-avatar").attr('src', items.msg_avatar)
                            }
                            $("#message-con").text(items.msg_con)
                            $("#message-time").text(items.msg_time)
                            var msg_list = $("#message-list-li").clone().show()
                            $("#message-list").append(msg_list)
                        })
                    }
                    //消息显示
                    $("#black-mask").show()
                            .on('tap', function () {
                                $("#message-widget").hide();
                                $("#black-mask").hide();
                            })
                    $("#message-widget").show();
                }
            })
        }else{
            $("#black-mask").show()
                .on('tap', function () {
                    $("#message-widget").hide();
                    $("#black-mask").hide();
                })
        $("#message-widget").show();
        }
    })
    //加好友
    $("#friends").on('tap', function () {
        $("#add-friend-widget").show();
    })
    ////浇水
    $("#water-flower").on('tap', function () {
{#        alert($("#user_message_water_time"));#}
        if(new Date().getTime()-water_time>10*60*1000){
            water_time = new Date().getTime();
            $("#water-widget").show();
            $('#water-widget').hide(3000);
            $.ajax({
            url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
                type: 'POST',
                timeout: 1000,
                dataType: 'json',
                encoding:'utf-8',
                data:{
                    'ajax_type' : '4',
                    'openid' : $("#user_message_openid").text(),
                    'source_id' : $("#user_message_openid").text()
                },
                beforeSend: function () {

                }, //加载执行方法
                error: function () {
                    water_time = 0
                    alert('服务不稳定，请亲再试一次～')
                },  //错误执行方法
                success: function (ret) {
                    if(ret=='1'){
                        alert('浇水成功，积分已奉上哟～')
                        // 积分与进度条变化
                        var val = parseInt($("#count-num").text().substr(3))
                        $("#count-num").text('积分:'+(val+1000).toString())
                        var css_width = parseInt($("#progress-bar").css("width"));
                        $("#progress-in").css("width", (parseInt($("#progress-in").css("width"))+css_width*0.003).toString())
                    }
                }
        })
        }else{
            alert('每个十分钟才能浇水哟～')
        }

        $("#user_message_water_time").text(myDate.getDate())
    })

    //心愿
    $('#willing').on('tap', function () {
        if($('#willing-list li:last').css('display') == 'none'){
            $.ajax({
                url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
                type: 'POST',
                timeout: 1000,
                dataType: 'json',
                async: false,
                encoding:'utf-8',
                data:{
                    'ajax_type' : '7',
                    'openid' : $("#user_message_openid").text(),
                    'load_begin' : '0'
                },
                beforeSend: function () {

                }, //加载执行方法
                error: function () {
                    alert('服务不稳定，请再试一下～')
                },  //错误执行方法
                success: function (ret) {
                    if(ret=='1'){
                        $("#willing-list-na").show()
                    }else{
                        $.each(ret, function (i, item) {
                            $('#will-time').text(item.will_time)
                            $('#will-con').text(item.will_con)
                            var will_list = $("#willing-list-li").clone().show()
                            $('#willing-list').append(will_list)
                        })
                    }
                    $("#black-mask").show();
                    $("#willing-widget").show();
                    $("#black-mask").on('tap', function () {
                        $("#willing-widget").hide();
                        $("#black-mask").hide();
                    })
                }
            })
        }else{
            $('#black-mask').show()
            $('#willing-widget').show()
            $('#black-mask').on('tap', function () {
                $('#willing-widget').hide();
                $('#black-mask').hide();
            })
        }
    })
    //填写心愿
    $("#willing-add").on('tap', function () {
        $('#willing-widget').hide();
        $('#fill-willing').show();
        $('#black-mask').show()
                .on('tap', function () {
                    $('#fill-willing').hide();
                    $('#black-mask').hide();
                })
    })
    $("#fill-willing-btn").on('tap', function () {
        $.ajax({
                url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
                type: 'POST',
                timeout: 1000,
                dataType: 'json',
                async: false,
                encoding:'utf-8',
                data:{
                    'ajax_type' : '8',
                    'openid' : $("#user_message_openid").text(),
                    'will_con' : $("#fill-area").val()
                },
                beforeSend: function () {
{#                    alert('请求数据中...')#}
                }, //加载执行方法
                error: function () {
                    alert('数据请求异常')
                },  //错误执行方法
                success: function (ret) {
                    if(ret=='1'){
                       alert('保存成功')
                        $("#willing-list li").css('display', 'none')
                    }else{
                        alert('保存失败，请再试一次哦～')
                    }
                }
            })
    })

    /********************
     * 弹出框的按钮绑定事件
     * */


    $('#black-mask').on('tap',function(){
        $('#black-mask').fadeOut(200);
    });
    //排行榜
    $("#rank").on('tap', function () {
        if($("#rank-list li:last").css('display') == 'none'){
            $.ajax({
                url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
                type: 'POST',
                timeout: 1000,
                dataType: 'json',
                async: false,
                encoding:'utf-8',
                data:{
                    'ajax_type' : '2',
                    'openid' : $("#user_message_openid").text(),
                    'load_begin' : '0'
                },
                beforeSend: function () {
                }, //加载执行方法
                error: function () {
                    alert('数据请求异常')
                },  //错误执行方法
                success: function (ret) {
                    $.each(ret, function (i, item) {
                        //设置显示逻辑
                        $("#rank-name").text(item.name)
                        $('#rank-rank').text((i+1).toString())
                        $('#rank-count').text("积分"+item.count)
                        $('#rank-home').attr('href',item.user_home)
                        $('#rank-avatar').attr('src', item.avatar)
                        $("#rank-progress-in").css('width',(item.count/3000).toString()+'%')
                        var list_item = $("#rank-list-li").clone().show()
                        $("#rank-list").append(list_item)
                    })
                    $("#black-mask").show()
                    $("#rank-widget").show();
                    $('#black-mask').on('tap',function(){
                        $('#black-mask').fadeOut(200);
                        $('#rank-widget').hide()
                    });
                } //成功执行方法
            })
        }else{
            $("#black-mask").show()
            $("#rank-widget").show();
            $('#black-mask').on('tap',function(){
                $('#black-mask').fadeOut(200);
                $('#rank-widget').hide()
            });
        }
    });


    //祝福吐槽祝福历史
    $("#history").on('tap', function () {
        // 祝福加载好，吐槽之后加载
        if($("#history-bless-list li:last").css('display')=='none'){
            $.ajax({
                url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
                type: 'POST',
                timeout: 1000,
                dataType: 'json',
                async: false,
                encoding:'utf-8',
                data:{
                    'ajax_type' : '5',  //祝福类型
                    'openid' : $("#user_message_openid").text(),
                    'load_begin' : '0'
                },
                beforeSend: function () {
{#                    alert('请求数据中...')#}
                }, //加载执行方法
                error: function () {
                    alert('数据请求异常')
                },  //错误执行方法
                success: function (ret) {
                    //决定显示的内容
                    if(ret=='1'){
                            $("#history-bless-list-na").show();
                        }else{
                            $("#history-bless-list-na").hide();
                            $.each(ret, function (i, item) {
                                alert('yici')
                                $('#history-bless-avatar').attr('src', item.bless_avatar)
                                $('#history-bless-name').text(item.bless_nick)
                                $("#history-bless-con").text(item.bless_con)
                                $('#history-bless-time').text(item.bless_time)
                                var bless_list = $("#history-bless-list-li").clone().show()
                                $('#history-bless-list').append(bless_list)
                            })
                        }
                    //控制显示
                    $('#black-mask').show()
                            .on('tap', function () {
                                $("#history-widget").hide();
                                $("#black-mask").hide();
                            })
                    $("#history-widget").show();
                    $("#history-tucao-list").hide();
                    $("#history-bless-list").show();
                }
            })
        }else{
            //控制显示
            $('#black-mask').show()
                    .on('tap', function () {
                        $("#history-widget").hide();
                        $("#black-mask").hide();
                    })
            $("#history-widget").show();
            $("#history-tucao-list").hide();
            $("#history-bless-list").show(300);
        }

    })

    //祝福吐槽切换
    $("#history-bless").on('tap', function () {
        $("#history-tucao-list").hide();
        $("#history-bless-list").show(300);
    });
    $("#history-tucao").on('tap', function () {
        $("#history-bless-list").hide();
        if($("#history-tucao-list li:last").css('display')=='none'){
            $.ajax({
                url: 'http://1.blesstree.sinaapp.com/wechat/ajax',
                type: 'POST',
                timeout: 1000,
                dataType: 'json',
                async: false,
                encoding:'utf-8',
                data:{
                    'ajax_type' : '6',  //吐槽类型
                    'openid' : $("#user_message_openid").text(),
                    'load_begin' : '0'
                },
                beforeSend: function () {
{#                    alert('请求数据中...')#}
                }, //加载执行方法
                error: function () {
                    alert('数据请求异常')
                },  //错误执行方法
                success: function (ret) {
                    //决定显示的内容
                    if (ret == '1') {
                        $("#history-tucao-list-na").show()
                    } else {
                        $.each(ret, function (i, item) {
                            $("#history-tucao-list-na").hide()
                            $('#history-tucao-avatar').attr('src', item.tucao_avatar)
                            $('#history-tucao-name').text(item.tucao_nick)
                            $("#history-tucao-con").text(item.tucao_con)
                            $('#history-tucao-time').text(item.tucao_time)
                            var tucao_list = $("#history-tucao-list-li").clone().show()
                            $('#history-tucao-list').append(tucao_list)
                        })
                    }
                    //控制显示
                    $('#black-mask').show()
                            .on('tap', function () {
                                $("#history-widget").hide();
                                $("#black-mask").hide();
                            })
                    $("#history-widget").show();
                    $("#history-bless-list").hide();
                    $("#history-tucao-list").show(300);
                }
            })
        }else{
            $("#history-bless-list").hide();
            $("#history-tucao-list").show(300);
        }
    })

    //加好友
    $("#add-friend-widget-btn").on('tap', function () {
        $("#add-friend-widget").hide();
    })

    $("#count-enough-btn").on('tap', function () {
        $("#count-enough").hide();
    })

    //祝福果
{#    $('.bless1').on('tap', function () {#}
{#        $.ajax({#}
{#            url: 'http://1.blesstree.sinaapp.com/wechat/ajax',#}
{#            type: 'POST',#}
{#            timeout: 1000,#}
{#            dataType: 'json',#}
{#            async: false,#}
{#            encoding:'utf-8',#}
{#            data:{#}
{#                'ajax_type' : '12',  //祝福类型#}
{#                'openid' : $("#user_message_openid").text()#}
{#            },#}
{#            beforeSend: function () {#}
{#                alert('请求数据中...')#}
{#            }, //加载执行方法#}
{#            error: function () {#}
{#                alert('数据请求异常')#}
{#            },  //错误执行方法#}
{#            success: function (ret) {#}
{#                alert(ret.toString())#}
{#                $('#fruit-name').text(ret.nickname);#}
{#                $('#fruit-img').attr('src', ret.avatar);#}
{#                $('#fruit-con').text(ret.con);#}
{#                $('#fruit-widget').fadeIn(300)#}
{#                        .on('tap', function () {#}
{#                            $('#fruit-widget').fadeOut(300)#}
{#                        })#}
{#            }#}
{#        })#}
{##}
{#    })#}
{#    //吐槽果#}
{#    $('.bless2').on('tap', function () {#}
{#        $.ajax({#}
{#            url: 'http://1.blesstree.sinaapp.com/wechat/ajax',#}
{#            type: 'POST',#}
{#            timeout: 1000,#}
{#            dataType: 'json',#}
{#            async: false,#}
{#            encoding:'utf-8',#}
{#            data:{#}
{#                'ajax_type' : '13',  //吐槽类型#}
{#                'openid' : $("#user_message_openid").text()#}
{#            },#}
{#            beforeSend: function () {#}
{#                alert('请求数据中...')#}
{#            }, //加载执行方法#}
{#            error: function () {#}
{#                alert('数据请求异常')#}
{#            },  //错误执行方法#}
{#            success: function (ret) {#}
{#                alert(ret.toString())#}
{#                $('#fruit-name').text(ret.nickname);#}
{#                $('#fruit-img').attr('src', ret.avatar);#}
{#                $('#fruit-con').text(ret.con);#}
{#                $('#fruit-widget').fadeIn(300)#}
{#                        .on('tap', function () {#}
{#                            $('#fruit-widget').fadeOut(300)#}
{#                        })#}
{#            }#}
{#        })#}
{#    })#}

    /********************
     * 一些函数
     * */
    //初始化事件
     function init_main(myDate) {
         $('#rule').show();

         //定时器事件,用于定时提醒浇水
         window.setInterval(function () {
             $("#time-to-water").fadeIn(1000);
             $("#time-to-water").fadeOut(1000);
         }, 600000);
     }
    })
</script>
</html>



















