<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>{{ name }}的主页面</title>

    <!--CSS-->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "tree/css/home.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "plugin/weui/weui.min.css" %}">
    <link href="//cdn.bootcss.com/pure/0.6.0/pure-min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

    <!--js-->
    <script src="{% static "plugin/jquery/jquery.min.js" %}"></script>
    <script src="{% static "plugin/jquery/jquery.color.js" %}"></script>
    <script src="{% static "plugin/jquery/jquery.mobile-events.min.js" %}"></script>
    <script src="{% static "plugin/wechat-jssdk/weixin-1.0.0.js" %}"></script>
    <script src="{% static "tree/js/jquery.lqc.extension.js" %}"></script>
    <script src="{% static "tree/js/django_csrf.js" %}"></script>
    <script src="{% static "plugin/move/move.js" %}"></script>
    {% if first_time %}
        <script src="{% static "tree/js/home_first.js" %}"></script>
    {% else %}
        <script src="{% static "tree/js/home.js" %}"></script>
    {% endif %}

</head>
<body class="my-body">
<!--顶部-->
<div class="menu-top">
    <div class="menu-top-con">
        <!--头像-->
        <div class="self-avatar">
            <a><img class="avatar" src="{{ avatar_addr }}" style="width: inherit"></a>
        </div>
        <!--积分条-->
        <div class="count-progress">
            <div class="progress">
                <span class="progress-bar"><span class="progress-in" id="count-progress-in" style="width: 100%"></span></span>
            </div>
            <div class="count-num" id="count-num"><p>积分：{{ count }}</p></div>
        </div>
        <!--排行-->
        <div class="rank" id="rank">
            <a><img class="rank-btn" id="rank-btn" src="{% static "tree/image/btn/rank.png" %}" style="width: inherit"></a>
        </div>
        <!--提醒-->
        <div class="tips" id="tips">
            <a><img class="tips-btn" src="{% static "tree/image/btn/tips.png" %}" style="width: inherit"></a>
        </div>
    </div>
</div>

<!--内容-->
<div class="main-container">
    <div class="main-tree pure-u-19-24" style="float: left;">
        <div class="tree-area"><img src="{% static "tree/image/others/tree.png" %}"></div>
        <div class="tree-name">
            <img src="{% static "tree/image/others/name.png" %}">
            <p class="name" id="whos_tree" style="margin-top: 19%;margin-left: 23%;">{{ tree_name }}</p>
        </div>
    </div>
    <div class="main-right pure-u-5-24" style="float:left">
        <ul class="right-btn" style="list-style-type: none">
            <!--朋友-->
            <li><img class="friends" id="friends" src="{% static "tree/image/btn/friends.png" %}" style="width: 74%"></li>
            <!--浇水-->
            <li><img class="water-flower" id="water-flower" src="{% static "tree/image/btn/water.png" %}" style="width: 74%"></li>
            <!--历史-->
            <li><img class="history" id="history" src="{% static "tree/image/btn/history.png" %}" style="width: 74%"></li>
            <!--心愿-->
            <li><img class="willing" id="willing" src="{% static "tree/image/btn/willing.png" %}" style="width: 74%"></li>
        </ul>
    </div>
</div>

<!--脚本-->
<div class="footer"></div>

{#保存一些需要js用的东西#}
<div class="user_message" id="user_message" style="display: none;">
    <p id="user_message_openid">{{ user_openid }}</p>
    <p id="user_message_nickname">{{ name }}</p>
{#    传原始的时间#}
    <p id="user_message_water_time">{{ water_time }}</p>
</div>

<!--mask-->
    <div class="overlay" id="black-mask" style="display: none;position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);"></div>

<!--消息-->
<div class="message-widget" id="message-widget" style="display: none;">
    <div class="message-top">
        <img src="{% static "tree/image/btn/tips.png" %}">
        <a class="message-close" id="message-close">X</a>
        <p style="font-size: 80%">消息</p>
    </div>
    <hr style="background-color: rgba(0,0,0,0.6)">
    <div class="message-content">
        <ul class="message-list">
{#            {% if message_list %}#}
{#                {% for nickname, avatar_addr, msg_type, msg_time in msg_list %}#}
{#                    <li>#}
{#                        <div class="pure-u-5-24" style="float:left;">#}
{#                            <img src="{{ avatar_addr }}" style="height: 70%;padding-left: 5%">#}
{#                            <p style="font-size: 50%;color: rgba(0,0,0,0.8)">{{ nickname }}</p>#}
{#                        </div>#}
{##}
{#                        <div class="pure-u-19-24" style="float:left;">#}
    {#                        根据消息类型来做不同的提醒#}
{#                            {% if msg_type == 3 %}#}
{#                                <p style="padding-top:3%; font-size: 90%">{{ nickname }}给你浇了一次水</p>#}
{#                            {% elif msg_type == 5%}#}
{#                                <p style="padding-top:3%; font-size: 90%">{{ nickname }}给你写了祝福</p>#}
{#                            {% elif msg_type == 6 %}#}
{#                                <p style="padding-top:3%; font-size: 90%">{{ nickname }}吐槽了你</p>#}
{#                            {% endif %}#}
{#                            <p style="font-size: 70%; color: grey">{{ msg_time }}分钟前</p>#}
{##}
{#                        </div>#}
{##}
{#                    </li>#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                <li>#}
{#                    <div class="pure-u-5-24" style="float:left;">#}
{#                        <p style="font-size: 100%;color: rgba(0,0,0,0.8)">您的消息空空如也，赶紧和小伙伴互动起来吧～</p>#}
{#                    </div>#}
{#                </li>#}
{#            {% endif %}#}
        </ul>


    </div>
</div>
<!--心愿-->
<div class="willing-widget" id="willing-widget" style="display: none">
    <div class="willing-top">
        <img src="{% static "tree/image/btn/willing.png" %}">
        <a class="willing-close">X</a>
        <p style="font-size: 80%">心愿</p>
    </div>
    <hr style="background-color: rgba(0,0,0,0.6)">
    <div class="willing-content">
        <ul class="willing-list" id="willing-list">
{#            {% if willing_list %}#}
{#                {% for will_time, will_con in willing_list %}#}
{#                    <li>#}
{#                        <a style="float: left;width: 20%;font-size: 80%; text-align: center">{{ will_time }}</a>#}
{#                        <a style="float:left;margin-left: 20%">{{ will_con }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#                <li><a>点我加载更多哦</a></li>#}
{#            {% else %}#}
{#                <li>#}
{#                    <a>您的愿望空空如也，快快说出来吧～</a>#}
{#                </li>#}
{#            {% endif %}#}
        </ul>
    </div>
    <button class="willing-add" id="willing-add">+</button>
</div>
<!--填写心愿-->
<div class="fill-willing" id="fill-willing" style="display: none;">
    <a class="fill-willing-close">X</a>
    <form class="fill-form">
        <textarea id="fill-area" placeholder="大声说出愿望，没准实现了呢"></textarea>
        <p class="fill-willing-btn" id="fill-willing-btn">确定</p>
    </form>
</div>
<!--祝福吐槽历史-->
<div class="history-widget" id="history-widget" style="display: none">
    <div class="history-top">
        <a class="history-bless" id="history-bless">祝福</a>
        <a class="history-tucao" id="history-tucao">吐槽</a>
        <a class="history-close" id="history-close">X</a>
    </div>
    <hr style="background-color: rgba(0,0,0,0.6)">
    <div class="history-content">
        <ul class="history-list" id="history-bless-list">
{#            加载祝福，默认显示#}
{#            {% if bless_list %}#}
{#                {% for nickname, avatar_addr, bless_con, bless_time in bless_list %}#}
{#                    <li>#}
{#                        <div style="float:left;"class="pure-u-5-24">#}
{#                            <img src="{{ avatar_addr }}" style="height: 75%;padding-left: 5%">#}
{#                            <p style="font-size: 40%;color:grey;;">{{ nickname }}</p>#}
{#                        </div>#}
{#                        <div style="float: left" class="pure-u-15-24">#}
{#                            <a style="font-size: 100%;">{{ bless_con }}</a>#}
{#                        </div>#}
{#                        <div style="float: left" class="pure-u-4-24">#}
{#                            <a style="float: right;font-size: 60%;color: grey">{{ bless_time }}前</a>#}
{#                        </div>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                <li>#}
{#                   <p>没有收到小伙伴的祝福哦，赶紧分享互动起来吧～</p>#}
{#                </li>#}
{#            {% endif %}#}
        </ul>
        <ul class="history-list" id="history-tucao-list" style="display: none">
{#            加载吐槽，默认隐藏#}
{#            {% if tucao_list %}#}
{#                {% for nickname, avatar_addr, tucao_con, tucao_time in tucao_list %}#}
{#                    <li>#}
{#                        <div style="float:left;"class="pure-u-5-24">#}
{#                            <img src="{{ avatar_addr }}" style="height: 75%;padding-left: 5%">#}
{#                            <p style="font-size: 40%;color:grey;;">{{ nickname }}</p>#}
{#                        </div>#}
{#                        <div style="float: left" class="pure-u-15-24">#}
{#                            <a style="font-size: 100%;">{{ tucao_con }}</a>#}
{#                        </div>#}
{#                        <div style="float: left" class="pure-u-4-24">#}
{#                            <a style="float: right;font-size: 60%;color: grey">{{ tucao_time }}前</a>#}
{#                        </div>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                <li>#}
{#                   <p>没有收到小伙伴的吐槽哦，小编都妒忌了～</p>#}
{#                </li>#}
{#            {% endif %}#}
        </ul>
    </div>
</div>
<!--排行榜-->
<div class="rank-widget" id="rank-widget" style="display: none;">
    <div class="rank-top">
        <img src="{% static "tree/image/btn/rank.png" %}">
        <p style="font-size: 80%">排行榜</p>
    </div>
    <hr style="background-color: rgba(0,0,0,0.6)">
    <div class="rank-content">
        <ul class="rank-list">
{#            {% if rank_list %}#}
{#                {% for nickname, avatar_addr, count, nickname_home in rank_list %}#}
{#                    <li>#}
{#                        <div class="pure-u-5-24" style="float: left">#}
{#                            <img src="{{ avatar_addr }}" style="height: 90%;padding-left: 5%">#}
{#                            <p style="font-size: 50%">{{ nickname }}</p>#}
{#                        </div>#}
{#                        <div class="pure-u-15-24" style="float:left;text-align: center">#}
{#                            <p style="height: 45%;width: 14%;margin-left: 43%;border-radius: 50%;background-color: red">1</p>#}
{#                            <div class="rank-progress-con" style="height: 20%;margin-top: 2%">#}
{#                                <div class="rank-progress">#}
{#                                    <span class="progress-bar"><span class="progress-in" style="width: 85%"></span></span>#}
{#                                </div>#}
{#                                <div class="rank-count-num"><p>积分：{{ count }}</p></div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div style="float: left" class="pure-u-4-24">#}
{#                            <a class="rank-visit" href="{{ nickname_home }}">参观</a>#}
{#                        </div>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            {% else %}#}
{#            {% endif %}#}
        </ul>
    </div>
</div>

<!--加好友-->
<div class="add-friend-widget" id="add-friend-widget" style="padding-top: 5%;display: none;">
    <p>点击右上方按钮，分享给朋友，可以添加好友以及得积分哦</p>
    <button id="add-friend-widget-btn"> 我知道啦～ </button>
</div>
<!--浇水-->
<div class="water-widget" id="water-widget" style="display: none;width: 30%;position: fixed;
    z-index: 13;
    width: 25%;
    left: 50%;
    height: auto;
    top: 50%;">
    <img src="{% static "tree/image/others/water-tree.png" %}" style="width: 100%;height: auto">
</div>
<!--积分到达上限-->
<div class="count-enough" id="count-enough" style="padding-top: 5%;display: none;">
    <p>积分到达300000啦，会有什么惊喜呢，赶快看一下吧～</p>
    <button class="count-enough-btn">点我有惊喜</button>
</div>
<!--恭喜新年快乐-->
<div class="happy-newyear" style="display: none">
    <img src="{% static "tree/image/others/monkey.png" %}">
    <p style="font-size: 160%;margin-top: 0%;color: red">给大家拜年啦</p>
    <p style="margin-top: 5%">赶快分享到朋友圈炫耀一下吧～</p>
</div>
<!--分享到朋友圈是什么内容呢-->

<!--平常的浇水提示，class花就不管了，反正跟加好友一样-->
<div class="add-friend-widget" id="time-to-water" style="display: none;">
    <p>点击&nbsp&nbsp树儿渴的花儿都谢啦，虽然我没有花～～</p>
    <button id="time-water-btn">我知道啦～</button>
</div>
{% if first_time %}
<!--begin 小部件-->

<!--规则-->
<div class="rule" id="rule" style="display:none">
    <div class="rule-title"><p>游戏规则</p></div>
    <div class="rule-list">
        <ul>
            <li><p style="width:15%">点击</p><img style="width: 15%" src="{% static "tree/image/btn/water.png" %}" ><p class="p-float" style="width:66% ">浇水一次得1000积分</p></li>
            <li><p style="width:15%">点击</p><img style="width: 15%" src="{% static "tree/image/btn/willing.png" %}"><p class="p-float" style="width:66%">添加新年愿望得20000积分</p></li>
            <li><p style="width:15%">点击</p><img style="width:15%" src="{% static "tree/image/btn/friends.png" %}"><p class="p-float" style="width:66%">并分享到朋友圈得5000积分，成功添加一位好友得3000积分</p></li>
            <li><p style="width:15%">点击</p><img style="width:15%" src="{% static "tree/image/btn/rank.png" %}"><p class="p-float" style="width:66%">访问好友并互动(祝福或吐槽)得5000积分</p></li>
        </ul>
    </div>
    <div class="rule-end"><p>当积分达到300000有特别的惊喜等你哦</p></div>
    <div class="rule-btn">
        <p class="rule-next" id="rule-next">下一步</p>
    </div>
</div>
<!--取名字-->
<div class="tips-quming" id="tips-quming" style="display: none">
    <p>小树苗出生了，快给它取个名字吧！</p>
    <button class="quming-btn" id="quming-btn">下一步</button>
</div>
<!--填写名字-->
<div class="fill-in-name" id="fill-in-name" style="display: none">
    <form class="fill-form">
        <input id="text_id" type="text" name="tree-name" placeholder="输入祝福树名字">
        <p class="fill-btn" id="fill-btn">确定</p>
    </form>
</div>
<!--浇水提醒-->
<div class="water-tips" id="tips-water" style="display: none;">
    <p>点击<img src="../static/tree/image/btn/water.png">&nbsp&nbsp给小树苗浇水，可以帮助它长成大树哦</p>
    <button class="water-tips-btn" id="water-tips-btn">去浇水<img src="{% static "tree/image/btn/goto.png" %}"></button>
</div>
<!--浇水成功-->
<div class="water-success" id="water-success" style="display: none;">
    <p>浇水成功，积分达到1000，小树苗变成大树啦！每隔10分钟可以浇一次水哦</p>
    <button>我知道啦</button>
</div>

{% endif %}


</body>
<script>
    $(function () {
        //进度条宽度百分比设置
        $("#count-progress-in").css("width", "{{ count }}%");

        $("#tips").on('tap', function () {
{#            alert('cg')#}
            var test = $.post(
                'http://1.blesstree.sinaapp.com/wechat/ajax',
                {
                    'ajax_type' : '2',
                    'openid' : $("#user_message_openid").text(),
                    'load_begin' : '0'
                },
                function (ret) {
{#                    if(ret=='1'){#}
{#                        alert("msg-error")#}
{#                    }#}
                    alert(ret)
                }
            )
{#                    .success(alert('success'))#}
                    .error(alert('error'))
{#            $.ajax({#}
{#                url: 'http://1.blesstree.sinaapp.com/wechat/ajax',#}
{#                type: 'POST',#}
{#                timeout: 1000,#}
{#                data:{#}
{#                    ajax_type = '2',#}
{#                    openid = $("#user_message_openid").text(),#}
{#                    load_begin = 0#}
{#                },#}
{#                beforeSend: LoadFunction, //加载执行方法#}
{#                error: erryFunction,  //错误执行方法#}
{#                success: succFunction //成功执行方法#}
{#            })#}
{#            $("#black-mask").show()#}
{#            $("#rank-widget").show();#}
        })
        function LoadFunction(){
            alert('请求数据中')
        }
        function erryFunction(){
            alert('数据请求异常')
        }
        function succFunction(ret){
            var json = eval(ret);
            $.each(json, function(index, items){
                alert('请求成功返回数据')
            })
        }


        $('#black-mask').on('tap',function(){
            $('#black-mask').fadeOut(200);
            $('#rank-widget').hide()
        });

        $(document).on("scrollstop",function(){
          alert("结束滚动！");
        });

        //微信分享接口设置
        wx.config({
              debug: false,
              appId: '{{ app_id }}',
              timestamp: {{ timestamp }},
              nonceStr: '{{ noncestr }}',
              signature: '{{ signature }}',
              jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
              ]
        });
        wx.ready(function () {
            // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
                wx.checkJsApi({
                    jsApiList: [
                        'getNetworkType',
                        'previewImage'
                    ]
                });

                wx.onMenuShareAppMessage({
                    title: '帅的人都点进去了哦',
                    desc: '新年什么有趣？抢红包？不不不！！老司机带你寻找新鲜刺激的游戏，快和大家一起玩吧～',
                    link: '{{ add_friend_url|safe }}',
                    imgUrl: '{{ imgUrl|safe }}' ,
                    success: function (res) {
                        alert('分享成功，成功添加好友后积分给您奉上哦～');
                      },
                      cancel: function (res) {
                        alert('分享一次，据说会有桃花运哦～');
                      },
                      fail: function (res) {
                        alert('系统出错，程序猿正手不停蹄的赶来维修～');
                      }
                })
                wx.onMenuShareTimeline({
                      title: '快快点进去祝(吐)福(槽)我吧',
                      link: '{{ share_url|safe }}',
                      imgUrl: '{{ imgUrl|safe }}' ,
                      success: function (res) {
                        alert('分享成功，一(没有个)大波小伙伴正赶来围观～');
                      },
                      cancel: function (res) {
                        alert('分享一次，据说会有桃花运哦～');
                      },
                      fail: function (res) {
                        alert('系统出错，程序猿正手不停蹄的赶来维修～');
                      }
                })
        })
        //浇水
        move.select = function(selector){
            return $(selector).get(0);
        };
        $("#water-flower").on('tap', function () {
            $("#water-widget").show();
            move('#water-widget').rotate(70).end();
            $('#water-widget').hide(3000);
            $("user_message_water_time").text(myDate.getDate())
            //TODO：这里加入浇水的动态特效，翻转啊啥的
        })
    })
</script>
</html>